<!DOCTYPE html>
<html>
  <head>
  	<title>My CRM</title>
  </head>
  <body>
    <nav><a href = "http://localhost:4567/">Main menu</a></nav>  
    <header></header>
    <%= yield %>
    <footer><a href = "#">Top</a></footer>
  </body>
</html>
